<div class=" rounded-2xl p-6 bg-gray-50 min-h-[85vh]">

  <!-- Header -->
  <h1 class="text-xl w-full font-semibold mb-4">Add Product</h1>

  <!-- Form -->
  <form (ngSubmit)="onSubmit()" class="bg-white p-6 rounded-xl shadow-md w-full">

    <!-- select custormer -->
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Select Customer</mat-label>
      <mat-select [(ngModel)]="selectedCustomerId" name="customerId" required>
        <mat-option *ngFor="let customer of customers" [value]="customer.customerId">
          {{ customer.customerName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- add customer button -->

    <div class="mb-4">
      <button type="button" (click)="showAddCustomer = true" class="text-indigo-500 text-sm hover:underline">
        + Add New Customer
      </button>
    </div>

    <!-- Product Name -->
    <mat-form-field appearance="outline">
      <mat-label>Product Name</mat-label>
      <input type="text" [(ngModel)]="product.productName" placeholder="Enter product name" name="productName" required
        matInput>
    </mat-form-field>


    <!-- Description -->
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea [(ngModel)]="product.description" name="description" rows="3" placeholder="Enter description"
        matInput></textarea>
    </mat-form-field>

    <!-- Price -->
    <mat-form-field appearance="outline">
      <mat-label>Price (₹)</mat-label>
      <input type="number" [(ngModel)]="product.unitPrice" name="unitPrice" placeholder="Enter the unit price" required
        matInput>
    </mat-form-field>

    <!-- Quantity -->
    <mat-form-field appearance="outline">
      <mat-label>Quantiy</mat-label>
      <input type="number" [(ngModel)]="product.quantityInStock" name="quantityInStock" placeholder="Enter the quantity"
        required matInput>
    </mat-form-field>



    <!-- Buttons -->
    <div class="flex gap-3">
      <button type="submit" class="bg-indigo-500 text-white px-4 py-2 rounded-lg hover:bg-indigo-600">
        Save Product
      </button>



      <button type="button" routerLink="/admin" class="border px-4 py-2 rounded-lg hover:bg-gray-100">
        Cancel
      </button>
    </div>

  </form>

</div>