<div class="p-5 rounded-lg">

    <h2 class="text-lg font-semibold mb-4">Add Customer</h2>
    
    <form class="flex flex-col gap-3">
    
      <mat-form-field appearance="outline">
        <mat-label>Customer Name</mat-label>
        <input type="text" matInput [(ngModel)]="customer.customerName" name="name" required>
      </mat-form-field>
    
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput [(ngModel)]="customer.email" name="email">
      </mat-form-field>
    
      <mat-form-field appearance="outline">
        <mat-label>Phone</mat-label>
        <input type="tel" matInput [(ngModel)]="customer.phone" name="phone">
      </mat-form-field>
    
      <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <textarea matInput [(ngModel)]="customer.address" name="address"></textarea>
      </mat-form-field>
    
      <!-- Buttons -->
      <div class="flex justify-end gap-2 mt-2">
        <button mat-button type="button" (click)="close()">Cancel</button>
        <button mat-raised-button color="primary" (click)="save()">Save</button>
      </div>
    
    </form>
</div>