<div class="rounded-lg p-6 bg-gray-50 min-h-[85vh]">

  <!-- Header -->
  <h1 class="text-xl w-full font-semibold mb-4">
    Create BOM
  </h1>
  <p class="text-sm text-gray-500 mb-4">
    Select a product to see its existing BOM.
  </p>

  <!-- loading spinner -->
  <div *ngIf="isLoading" class="flex justify-center items-center h-[60vh]">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>

  <!-- Form -->
  <form *ngIf="!isLoading" #bomForm="ngForm" (ngSubmit)="onSubmit()" class="bg-white p-6 rounded-xl shadow-md w-full" novalidate>

    <!-- ================= PRODUCT ================= -->
    <h2 class="font-semibold mb-2">Product</h2>

    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Select Product</mat-label>
      <mat-select [(ngModel)]="bom.productId" name="productId" (selectionChange)="onProductChange()" required>
        <mat-option class="text-black!" *ngFor="let product of products" [value]="product.productId">
          {{ product.productName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- ================= COMPONENTS ================= -->
    <h2 class="font-semibold mb-2">Components</h2>

    <div *ngFor="let item of bom.components; let i = index" class="flex flex-wrap md:flex-nowrap gap-3 mb-3 items-center">

      <!-- Component -->
      <mat-form-field appearance="outline" class="w-full md:w-1/2">
        <mat-label>Select Component</mat-label>
        <mat-select [(ngModel)]="item.componentId" name="component{{i}}" required>
          <mat-option
            *ngFor="let product of products"
            [value]="product.productId"
            [disabled]="product.productId === bom.productId || isComponentAlreadySelected(product.productId, i)"
          >
            {{ product.productName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Quantity -->
      <mat-form-field appearance="outline" class="w-full md:w-1/4">
        <mat-label>Quantity</mat-label>
        <input matInput type="number" min="1" [(ngModel)]="item.quantity" name="quantity{{i}}" required>
      </mat-form-field>

      <!-- Remove -->
      <button type="button" (click)="removeItem(i)"
        class="h-10 w-10 px-5 flex items-center justify-center rounded-full hover:bg-red-100 text-red-500 transition">
        <i class="fas fa-trash-can"></i>
      </button>

    </div>

    <!-- Add Component -->
    <button [disabled]="getRole()!=='PRODUCT_MANAGER'" type="button" (click)="addItem()" class=" px-3 py-1 rounded mb-4  bg-[#3f51b5] hover:bg-[#5c6bc0] text-white   transition disabled:bg-[#5c6bc0] disabled:cursor-not-allowed disabled:opacity-70">
      + Add Component
    </button>

    <!-- ================= EXISTING BOM ================= -->
    <div *ngIf="existingComponents.length" class="mb-4">
      <h2 class="font-semibold mb-2">Existing BOM</h2>

      <div class="border rounded-lg overflow-hidden">
        <div class="grid grid-cols-3 bg-gray-100 font-semibold text-sm px-3 py-2">
          <span>Component</span>
          <span>Quantity</span>
          <span class="text-right">Action</span>
        </div>

        <div *ngFor="let component of existingComponents" class="grid grid-cols-3 text-sm px-3 py-2 border-t items-center">
          <span>{{ component.componentName }}</span>
          <span>{{ component.quantity }}</span>
          <span class="text-right">
            <button type="button" (click)="removeBomComponent(component.productBomId)"
              class="h-9 w-9 inline-flex items-center justify-center rounded-full hover:bg-red-100 text-red-500 transition">
              <i class="fas fa-trash-can"></i>
            </button>
          </span>
        </div>
      </div>
    </div>

    <!-- ================= ACTIONS ================= -->
    <div class="flex gap-3">
      <button type="submit" [disabled]="bomForm.invalid"
        class="bg-[#3f51b5] hover:bg-[#5c6bc0] text-white px-4 py-2 rounded-lg transition disabled:bg-[#5c6bc0] disabled:cursor-not-allowed disabled:opacity-70">
        Create BOM
      </button>

      <button type="button" (click)="resetForm()" class="border px-4 py-2 rounded-lg hover:bg-gray-100">
        Cancel
      </button>
    </div>

  </form>

</div>
